# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:

* List popular languages for Data Science
* Commonly used libraries for Data Science
* Arithmetic expressions in Python
* Convert minutes into hours
* Create tables using Markdown
* Add headings using Markdown

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Scikit-learn
4. Keras
5. Tensorflow
6. Matplotlib

| Data Science Tools |
----------------------
|Apache Spark|
|Jupyter Notebook|
|RStudio|
|PyCharm|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
#his will convert 200 minutes to hours by diving by 60
# Convert minutes to hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Pooja Shukla